.hero {
    background-image: url(../assets/images/hero-bg.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
/*these two colors will override the ones above in .hero*/
.hero-secondary{
    background-color: black;
    color: red;
}
